body{
   background-color: #212121; 
   color: white;
}
h1{
    text-align: center;
}
form
 {
    display: flex;
    flex-direction:column;
    flex-basis: 100px;
    justify-content: space-evenly;
 }
label{
    font-size: 2rem;
} 
#field{

}
p{
    text-align: center;
}
.result
{
    
}
.wrapper
{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: blueviolet;

}